/*=========================================================================================
    File Name: switch.scss
    Description: Switch page styles
    ----------------------------------------------------------------------------------------
    Item Name: AVdesign- "Vue Admin"
      Author: Anselmo Velame
    Demo URL: https://www.avdesign.com.br/demo/vue-admin
==========================================================================================*/

.demo-alignment {
    li {
        margin-right: 2rem;
    }

    .vs-switch {
        margin-top: .5rem;
    }
}
